:root {
    --background-morado: #72147E;
    --form-rosa: #F21170;
    --button-amarillo:#FA9905;
    --field-naranja:#FF5200;
    --font-color:#E7E0C9;
    --font-title:'Heebo', sans-serif;
    --font-text:'Montserrat', sans-serif;
}
