@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
    --font-headdings: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --color-main-button: hsl(322, 100%, 66%);
    --color-subscribe-botton: hsl(321, 100%, 78%);
    --color-required: hsl(0, 100%, 63%);
    --color-bg-footer: hsl(192, 100%, 9%);
    --color-bg-section: hsl(207, 100%, 98%);
}

html {
    font-size: 18px;
}

body {
    font-family: var(--font-body);
    color: var(--color-bg-footer);
}

h1 {
    font-size: 2.25rem;
}

.center-content {
    margin: auto;
    width: 80%;
}

h1, h2, h3, h4 {
    font-family: var(--font-headdings);
}

#get-started h3 {
    font-size: 1.5rem ;
}

nav {
    width: 100%;
    margin: 0.4rem 0px;
    padding: 1.2rem 0.1rem;
}

nav li{
    display: inline-block; 
}

#logo {
    float: left;
}

.button {
    border-radius: 25px;
    border-color: var(--color-main-button);
    background-color: var(--color-main-button);
    color: white;
    width: 13.5rem;
    padding: 0.9rem 1.2rem;
    font-weight: 700;
    font-size: 0.75rem;
    border-style: none;
}

nav li button {
    background-color: white !important;
    padding: 0.4rem !important;
    width: 6rem !important;
    color: var(--color-main-button) !important;
    border-color: var(--color-main-button) !important;
    border-style: ridge !important;
}
#nav-button {
    float: right;
    margin-right: 2rem;
}

#main {
    margin-top: 9.75rem;
    text-align: center;
}

#mockups {
    margin-top: 5.2rem;
    margin-bottom: 5.2rem;
    align-content: center;
}

#mockups img {
    display: block;
    max-width: 100%;
    height: auto;
}


.container {
    display: flex;
    justify-content: space-between;
    
}
.quantity{
    margin: 0px;
    font-size: 5.5rem;
    font-weight: 700;
}

.description {
    margin-top: 0.2rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #B3B3B3;
    text-align: center;
}

.icon {
    margin: 0.1rem;
    float: left !important;
}

.margin-image, .illust {
    display: block;
    width: 100%;
    
}

.space-between-sec {
    margin-top: 6rem;
}

.bg-section {
    background-color: var(--color-bg-section);
    width: 100% !important;
    margin: 0 !important;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#blue-section {
    background-color: var(--color-bg-footer) !important;
}

#white-logo {
    margin: 1.2rem 0px;
    fill: #FFF;
    width: 10rem !important;
    height: auto !important;
}

.margin-text-right {
    margin-top: 5.2rem;
    margin-right: 5.2rem;
}

.margin-text-left {
    margin-top: 5.2rem;
    margin-left: 5.2rem;
}

#get-started{
    text-align: center;
    margin-bottom: 5.2rem;
    margin-top: 5.2rem;
}

#contact {
    color: #FFF;
    font-size: 0.75rem;
}

.paragraph-text {
    font-weight: 600;
    line-height: 1.2rem;
}
.brand-info .paragraph-text {
    margin-bottom: 1.2rem;
}

.brand-info i {
    margin-right: 0.6rem;
}
.newsletter h4 {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.social-media {
    padding: 3rem 0px;
}
.social-media i {
    margin-right: 1.2rem;
    font-size: 1.5rem;
    display: inline-flex;
}

form {
    margin: 0.75rem 0px;
    display: inline-block;
}
 form input {
     padding: 0.6rem;
     border: none;
     border-radius: 3px;
 }

 form button {
     margin: 1.5rem 0px !important;
     padding: 0.6rem !important ;
     width: 6.5rem !important;
     border-radius: 3px !important;
 }



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


