* {
  margin: 0;
  padding: 0; 
}

:root {
    --background-color: #002366;
    --form-color: #0F52BA;
    --button-color: #FA8072;
    --field-color:#FFDAB9;
    --font-color:#E7E0C9;
    --font-title:'Heebo', sans-serif;
    --font-text:'Montserrat', sans-serif;
}

body{
    background-color: var(--background-color);
}

h1 {
    margin-top:25px;
    padding-top: 25px;
    text-align: center; 
    color: var(--font-color);
    font-family: var(--font-title);
    font-weight: 200;
    font-size: 40px;
}

p, label {
    padding: 5px;
    text-align: center; 
    color: var(--font-color);
    font-family: var(--font-text);
    line-height: 25px;
}

form {
    margin: 40px 50px;
    padding: 25px;
    border-radius: 20px;
    background-color: var(--form-color);
}

textarea {
    position: relative;
    left:5px;
    height: 150px;
    width: 500px;
    border-radius: 5px;
    font-size: medium;
    font-family: var(--font-text) ;
    color: gray;
    padding: 10px;
}

